<div class="container">
        
<p>Step 1: Created a git repository and cloned it.</p>
<p>Step 2: Created necessary files such as App.js, Controller.js and Service.js.</p>
<p>Step 4: Included all necessary files in Index.html.</p>
<p>Step 5: Created Routes with Ui-route Module.</p>
<p>Step 6: Imported data from data.json in dataService.getData().</p>
<p>Step 7: Called Service from tableDataDisplay controller.</p>
<p>Step 8: Displayed the data in Html page with the help of ng-repeat directory.</p>
<p>Step 9: Used pipe/ filter orderBy to sort data.</p>
<p>Step 10: Changed the pipe sorting order on click of headings by calling sortCoulmn() function.</p>
<p>Step 11 : Created a array of unique names  and a array of values.</p>
<pre>
example : [["a1"],["a2"].....]   and  [["a1","c1","10"].....]

created formated data array  like [["a1",-, -, -, -, -, -].....]

converted formated array to required fromart applying splice method inside ForEach.

[["a1","c1","10","c2","100","c3","1000"]....]
</pre>
<p>Step 12: Displayed the new array values in formatted data page.</p>

Thanks!
</div>