<section class="container" >
<table class=" table table-striped " >
<thead>
  <tr>
    <th ng-click="sortColumn('name')">Name 
    <i ng-if="sortColumnName=='name' && !sortOrder" class="fa fa-caret-down"></i> 
    <i ng-if="sortColumnName=='name' && sortOrder" class="fa fa-caret-up"></i>
    </th>
    <th ng-click="sortColumn('category')">Category
     <i ng-if="sortColumnName=='category' && !sortOrder" class="fa fa-caret-down"></i> 
    <i ng-if="sortColumnName=='category' && sortOrder" class="fa fa-caret-up"></i>
    </th>
    <th ng-click="sortColumn('amount')">amount
     <i ng-if="sortColumnName=='amount' && !sortOrder" class="fa fa-caret-down"></i> 
    <i ng-if="sortColumnName=='amount' && sortOrder" class="fa fa-caret-up"></i>
    </th>
  </tr>
</thead>
<tbody>
  <!-- <tr ng-repeat="data in dataObj | toArray:false | orderBy : sortColumnName : sortOrder"> -->
  <tr ng-repeat="data in dataObj | orderBy : sortColumnName : sortOrder">
    <td>{{data.name}}</td>
    <td>{{data.category}}</td>
    <td>{{data.amount}}</td>
  </tr>
</tbody>
</table>
</section>
